@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  background-color: black;
  font-size: 20px;
}

body {
  min-height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

.App {
  text-align: center;
  background-color: black;
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding-top: 20px;
}

.logo {
  display: inline;
  padding: 0 5px;
  font-family: 'Audiowide', cursive;
  font-size: 32px;
  background: #2f3c96;
  background: -webkit-linear-gradient(to right, #2f3c96 0%, #a41253 100%);
  background: -moz-linear-gradient(to right, #2f3c96 0%, #a41253 100%);
  background: linear-gradient(to right, #2f3c96 0%, #a41253 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width) {
    font-size: 64px;
  }
}

.PageTitle {
  text-align: center;

  @media (min-width) {
    color: #821e66;
    font-size: 32px;
  }

}

